extends layout

block title
  title binb :: track Leaderboard 


block sections
  section
    .row
      .span7.offset1
        .highscores High Scores
          .icons.img
  section
    .row
      .span7.offset1.relative
        h2  Tracks - #{roomrequested} 
        h4
          br
          | 
          each room, i in rooms
            a(href=`/rank/${room}`) #{room} &nbsp   
        .leaderboard-wrapper
          table.table.table-striped.table-bordered.leaderboard
            tbody
              each user, i in tracks 
                tr
                  td 
                    a(href=`/user/${tracks[i][2]}/rank`) #{tracks[i][2]}
                  td #{tracks[i][1]}
                  td #{tracks[i][0]}
          .loading
            .loading-block
            .loading-block
            .loading-block
      .span7.relative

block scripts
  script(src="//cdn.jsdelivr.net/jquery/3/jquery.min.js")
  script(src="/static/js/leaderboards.min.js")
